@import "tailwindcss";

@layer components {
  .toolsBarBtn {
    @apply flex items-center justify-center w-8 h-8 rounded hover:bg-gray-200 cursor-pointer;
  }
  .headerBtn {
    @apply flex items-center justify-center w-8 h-8 rounded hover:bg-gray-200 cursor-pointer;
  }
  .headerActionDivider {
    @apply flex gap-4 justify-around items-center rounded-md h-7;
  }
  .dropdownContainer {
    @apply flex flex-col  absolute bg-white  shadow-lg rounded-md px-4 py-2;
  }
  .dropdownContent {
    @apply flex flex-col mt-2 hover:bg-gray-200 cursor-pointer rounded-md px-2 py-1;
  }
}
